        
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

  html{
       font-family: 'Geologica', sans-serif;
  }
  *{
      padding: 0;
      margin: 0;
  }
  .contener{
      background-color: #1D1F2B;
      display: flex;
      justify-content: space-between;
      padding: 50px 200px;
      color: aliceblue
  }
  .logo  {
      height: 60px;
  }
  img{
      height: 150px;
  }
  h1 , p{
      margin: 20px 0px;
  }
  table{
      text-align: left;
  }
  th{
      padding-left: 0;
      padding-top: 10px;
      padding-right: 20px;
  }
  h1{
      border-bottom: 2px solid #C5CD14;
      padding-bottom: 15px;
  }
  p{
      padding-right: 80px;
  }